@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: Roboto;
}

.intro{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5vw;
}

.center{
    text-align: center;
    margin: auto;
}

.container { /* Container for grid items*/
    max-width: 960px;
    margin:auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.container p{
    text-align: left;
}

.grid2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.section{
    margin: 5;
}